

{% extends 'pokedex/base.html' %}

{% block content %}
{% load static %}

<div class="table-users">
   <div class="header">Pokemons</div>

   <table cellspacing="0">
      <tr>
         <th>Picture</th>
         <th>Name</th>
         <th>Is yellow?</th>
         <!--<th></th>-->
         <!--<th width="230">Comments</th>-->
      </tr>

      {% for pokemon in object_list %}
      <tr>
         <td><img src="{% static 'pokedex/pokeball.png' %}" alt="" /></td>
         <td>{{ pokemon.name }}</td>
         <td>{% if pokemon.is_yellow %}Yes{% else %}No{% endif %}</td>
         <!--<td></td>-->
         <!--<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </td>-->
      </tr>
      {% endfor %}

   </table>
</div>
{% endblock %}